{% extends "base.html" %}

{% block content %}

<div class="">
    <h1 class="bg-red-500 text-white uppercase tracking-wide px-6 py-2">Hello World</h1>
    <div class="">
        <p class=" text-sm font-semibold px-6 py-2">Flask App Scaffolding with Tailwind CSS (JIT
            Compiler) +
            CSS Nano for minification</p>
    </div>
    <button type="button" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 ...">
        Hover me
      </button>
</div>

{% endblock content %}